<div >

    <p [ngClass]="valorNgClass > 5 ? 'text-danger' : 'text-success'"> Padre ngClass</p>
    <p [style.border]="valorNgStyle > 5 ? '1px solid black' : '1px solid red'"> Padre ngStyle</p>
    <ol>
        <div *ngFor="let alumno of listaAlumnos">
            <li *ngIf=" (alumno | uppercase)  == 'MARTIN'">
                {{ alumno }}
            </li>
        </div>

    </ol>
    <ol>
        <div *ngFor="let alumno of listaAlumnos">
            <li [ngClass]="(alumno | uppercase)  == 'MAURICIO' ? 'text-danger' : 'text-white'">
                {{ alumno }}
            </li>
        </div>

    </ol>

    <ol>
        <div *ngFor="let alumno of listaAlumnos">
            <li [style.color]="(alumno | lowercase)  == 'maite' ? 'blue' : 'white'">
                {{ alumno }}
            </li>
        </div>

    </ol>

</div>

